# Environment variables file
.env

# Python bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.venv/
env/

# IDE-specific files (e.g., VS Code, PyCharm)
.vscode/
.idea/

# Operating System files
.DS_Store
Thumbs.db

# Logs
*.log
